<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>binshopsrest</name>
    <displayName><![CDATA[Binshops REST API - Pro Version]]></displayName>
    <version><![CDATA[2.1.4]]></version>
    <description><![CDATA[This module exposes REST API endpoints for your Prestashop website.]]></description>
    <author><![CDATA[Binshops]]></author>
    <tab><![CDATA[others]]></tab>
    <confirmUninstall><![CDATA[]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
